**/build/
**/build-sim/
*.b#*
*.bin
*.d
*.elf
*.hex
*.job
*.lss
*.map
*.o
*.pro
*.s#*
*.uf2
*srec
.DS_Store
.idea/
.vs
.vscode
docs/
!docs/
docs/*
!docs/CHIRPY_MOTION_PROTOCOL.md
*.kicad_sch-bak
*-backups/
*.bak
_autosave*
fp-info-cache
.~*
*.plan
/.direnv
/.emscripten_cache
/PROJECT_NOTES.md
/private/*
!/private/README.md
!/private/my_databank_entries.example.inc
